/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.htwg-darkblue{
    background-color: #344050 !important;
}

.htwg-lightblue{
    background-color: #d3dde2 !important;
}

.htwg-green{
    background-color: #009b91 !important;
}

.htwg-black{
    background-color: #3c3c3c !important;
}

.htwg-grey{
    background-color: #787878 !important;
}

.htwg-darkblue-text{
    color: #344050 !important;
}

.htwg-lightblue-text{
    color: #d3dde2 !important;
}

.htwg-green-text{
    color: #009b91 !important;
}

.htwg-black-text{
    color: #3c3c3c !important;
}

.htwg-grey-text{
    color: #787878 !important;
}

th{
  text-align: center;
}

table, td{
  border-color: #000000;
  border-style: solid;
  border-width: thin;
  background-color: #FFFFFF;
}

.fortschritt{
  border-style: none;
  border-color: #FFFFFF;
}

/* allgemeines */
input.hackbox {
  display:none;
}

/* default-Zustand */
span.schabloneSpan {
  display:none;
}

label.schablone {
  color:#000000;
}

label.schablone::before {
  color:#000000;
}

/* bei gesetztem Haken */
input.schablone:checked ~ span.schabloneSpan {
  display:inline;
}

input.schablone:checked ~ label.schablone::before {
  color:#0091D2;
}
img.schabloneImage {
  width: 100%;
  height: auto;
}

#add-button{
  color: #FFFFFF;
  border-style: none;
  border-radius: 2px;
}
.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0s;
}


#radioTable,
#radioTable tr,
#radioTable tr td {
  background-color: #d3dde2;
  border-style: none;
}

#diagramm{
  margin-left: 10px;
  width: 350px;
}

#ergebnisTabelle{
  margin-right: 10px;
  width: 350px;
}

#exportButton{
  margin-right: 10px;
}

#trennLinie{
  stroke-dasharray: 5;
  stroke: black;
}

input::-webkit-input-placeholder {
color: #808080;
}

#stichwort{
  margin-left: 10px;
  width: 365px;
}


.list{
  margin-left: 25px;
  padding-left: 25px;
}

.listitem {
margin-left: 50px;
padding-left: 50px;
}

.listitemwithoutbulletpoint {
  font-weight: bold;
  font-style: italic;
  margin-left: 25px;
  padding-left: 25px;
  list-style-type: none;
}

#footer{
  position: static;
  bottom: 0pt;
  width: 100%;
  height: auto;
}

header{
  position: static;
  top: 0;
  width: 100%;
  height: auto;
  visibility: visible !important;
}

#logoutheader{
  position:absolute;
  top: 0;
  padding-top: 1%;
  /*margin-left: 50;*/
  padding-left:200;
  color: white;
}

#angemeldetAls{
  position: absolute;
  top: 0;
  padding-top: 1%;
  /*width: 500;*/
  /*margin-left: 80;*/
  padding-left: 900;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

#navi{
  position: absolute;
  top: 0;
}


#vielenDank{
  padding-top: 200;
}


.kanologo{
position:static;
margin-top: 0%;
margin-right: 46%;
margin-left: 44%;
}

/*#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}*/

/**
